.BtnNextBack {
    background: $color-secondary-1;
    color: $font-color-button;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 93px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    padding: 10px 24px;
    min-width: 130px;
    cursor: pointer;
}