$color-main: rgba(67,97,238,1);
$color-secondary-1: rgba(181,23,158,1);
$color-secondary-2: rgba(63,55,201,1);
$color-secondary-3: rgba(255,201,248,1);
$font-family : 'Fredoka One', cursive;
$font-size-button : 20px;
$font-size-text : 14px;
$font-color-button : #f2f2f2;
$font-color-1 : rgba(0, 0, 0, 0.87);
$color-button-1 : #f2f2f2;
$color-button-2 : #f2f2f2;
$box-shadow : 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
$background-hover : #f2f2f2; 