.Layout__container {
  max-width: 400px;
  background: #4361EE;
}

.BtnMain {
  background: #b5179e;
  color: #f2f2f2;
  font-size: 1.4rem;
  padding: 12px;
  min-width: 93px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  cursor: pointer;
}

.Navbar__container {
  background: #4361EE;
  padding-top: 10px;
  padding-bottom: 2px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 35px;
}

.Navbar__logo {
  font-family: "Fredoka One", cursive;
  font-size: 2.8rem;
  color: white;
}

.Navbar__logo:hover {
  text-decoration: none;
}

.Navbar__logo:focus {
  text-decoration: none;
}

.BtnAdd {
  background: #3f37c9;
  color: #f2f2f2;
  font-size: 1.1rem;
  padding: 12px 18px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.ChallengeItem__container {
  background: #ffc9f8;
  margin-bottom: 20px;
  border-radius: 27px;
  padding: 10px 15px;
  color: #3f37c9;
  min-height: 120px;
  display: inline-block;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  align-items: center;
  max-width: 280px;
}

.ChallengeItem__number {
  font-size: 22px;
  color: #494949;
}

.BtnEditDelete {
  color: #3f37c9;
  background: #ffc9f8;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.BtnNextBack {
  background: #b5179e;
  color: #f2f2f2;
  font-size: 1.2rem;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 93px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  padding: 10px 24px;
  min-width: 130px;
  cursor: pointer;
}

.BtnAccept {
  background: #b5179e;
  color: #f2f2f2;
  font-size: 1rem;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 93px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  padding: 10px 24px;
  min-width: 130px;
  border: none;
  font-family: "Fredoka One", cursive;
}

.BtnCancel {
  background: #ffc9f8;
  color: #b5179e;
  font-size: 1rem;
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 93px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  padding: 10px 24px;
  min-width: 130px;
  border: none;
  font-family: "Fredoka One", cursive;
}

.BtnCancel:hover {
  background: #b5179e;
  color: white;
}

.ChallengesList {
  max-height: 630px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.ParticipantsList {
  max-height: 630px;
  overflow-y: scroll;
  margin-bottom: 20px;
}